*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;  
}
body
{
    background: url('back.jpg') no-repeat;
    background-size: cover;
}
.container
{
    background-color: cornflowerblue;
    display: flex; 
    flex-direction: row; /* column, row-reverse, column-reverse default  */
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding: 0px 80px;
}
.container ul.list-nav
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    height: 90%;
}
.container ul.list-nav li
{
text-decoration: none;
/* background-color: bisque; */
/* margin: 8px; */

/* height: fit-content; */
}

.container ul.list-nav li a
{
    text-decoration: none;
    color: aliceblue;
    padding: 10px;
}
.container ul.list-nav li a:hover
{
   background-color:black;
   border-radius: 20px;
}


.content-container
{
    /* background-color: aqua; */

    padding: 40px 80px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.content-container .add-container{
    display: flex;
    justify-content: flex-end;
}

.content-container .add-container a{
    margin: 20px;
    background-color: cadetblue;
    text-decoration: none;
    padding: 5px 12px;
    border-radius: 10px;
    color: black;
    font-weight: 700px;
    font-size: 20px;

}
.login-form
{
    width: 350px;
     top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    /* transform:scale(1); */
    position: absolute;
    color: black;
}

.login-form h1
{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    margin: 40px 0;
}
.login-form label
{
    font-size: 20px;
    margin: 15px 0;
}
.login-form input
{
    font-size: 16px;
    width: 100%;
    padding: 10px 5px;
    border: 0;
    outline: none;
    border-radius: 15px;
}
.login-form button
{
    font-size: 18px;
    font-weight: bold;
    margin: 20px 0;
    padding: 5px 10px;
    width: 50%;
    border-radius: 15px;
    border: 0;

}
.error-container{
    margin-bottom: 30px;
    }
    
    .error-container .error{
        color: rgb(201, 114, 1);
    
    }